---
import "../styles/global.css";
import about from "../images/about.jpg";
import personalTrainer from "../images/personal-trainer.jpg";
import groupFitness from "../images/group-fitness.jpg";
import nutrition from "../images/nutrition.jpg";
import onlineFitness from "../images/online-fitness.jpg";
import yoga from "../images/yoga.jpg";
import sarah from "../images/sarah.jpg";
import mark from "../images/mark.jpg";
import jessica from "../images/jessica.jpg";
import logo from "../images/logo.png";
import logoLight from "../images/logo-light.png";
---

<html lang="en">
	<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" />
	<meta name="generator" content={Astro.generator} />
    <title>FlexFit | Fitness Programs, Personal Training, and Wellness Services</title>
  </head>
  <body>
    <nav>
      <a href="#home"><img src={logo.src} class="logo" /></a>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#team">Our Team</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <header id="home">
      <div class="banner">
        <h1>Unlock Your Fitness Potential with FlexFit</h1>
        <p>Transform Your Body, Elevate Your Life</p>
        <a href="#contact" class="button">Contact Us</a>
      </div>
    </header>
    <section class="container" id="about">
      <div class="content left">
        <img src={about.src} alt="" />
      </div>
      <div class="content right">
        <h2>About Us</h2>
        <p>At FlexFit, our mission is to empower individuals to lead healthier, happier lives through fitness. We strive to provide a supportive and inclusive environment where our clients can discover their strength, improve their well-being, and unlock their full potential. Through expert guidance, personalized programs, and a commitment to exceptional service, we are dedicated to helping our clients achieve their fitness goals and embrace a lifestyle of vitality and wellness</p>
        <a href="#contact" class="button">Contact Us</a>
      </div>
    </section>
    <section class="container" id="services">
      <h2>Services</h2>
      <div class="content">
        <div class="service-block">
          <img src={personalTrainer.src} alt="" />
          <h3>Personal Training</h3>
          <p>One-on-one fitness guidance tailored to your goals and needs.</p>
        </div>
        <div class="service-block">
          <img src={groupFitness.src} alt="" />
          <h3>Group Fitness Classes</h3>
          <p>Engaging and energetic workouts in a supportive group environment.</p>
        </div>
        <div class="service-block">
          <img src={nutrition.src} alt="" />
          <h3>Nutrition Counseling</h3>
          <p>Expert advice to optimize your diet and fuel your workouts.</p>
        </div>
        <div class="service-block">
          <img src={onlineFitness.src} alt="" />
          <h3>Online Fitness Programs</h3>
          <p>Accessible workouts and coaching from the comfort of your home.</p>
        </div>
        <div class="service-block">
          <img src={yoga.src} alt="" />
          <h3>Yoga and Mindfulness</h3>
          <p>Enhance flexibility, strength, and mental well-being through mindful movement.</p>
        </div>
      </div>
    </section>
    <section class="container" id="team">
      <h2>Our team</h2>
      <div class="content">
        <div class="member">
          <img src={sarah.src} alt="" />
          <h3>Sarah Reynolds</h3>
          <p>Certified Personal Trainer</p>
        </div>
        <div class="member">
          <img src={mark.src} alt="" />
          <h3>Mark Davis</h3>
          <p>Fitness Coach and Nutrition Specialist</p>
        </div>
        <div class="member">
          <img src={jessica.src} alt="" />
          <h3>Jessica Thompson</h3>
          <p>Group Fitness Instructor and Yoga Expert</p>
        </div>
      </div>
    </section>
    <div class="call-to-action cta-bg">
      <div>
        <h2>Start Your Fitness Journey Today!</h2>
        <p>Achieve your goals with our expert guidance and support.</p>
        <a href="#contact" class="button">Contact Us</a>
      </div>
    </div>
    <footer id="contact">
      <div class="container contact-block">
        <div>
          <i class="fi fi-rr-phone-flip"></i>+1 (514) 235-9794 <br />
          <i class="fi fi-rr-envelope"></i>info@yourfitnesscompany.com <br />
          <i class="fi fi-rr-marker"></i>123 Main Street, City, State, ZIP
          <br />
        </div>
        <img src={logoLight.src} alt="" />
      </div>
      <div class="copyright">
        <div class="container">FlexFit | Copyright 2023</div>
      </div>
    </footer>
  </body>
</html>
